# Python files
*.pyc
*.pyo
__pycache__/

# Virtual environments
venv/
env/
.env/

# Django files
db.sqlite3
*.sqlite3
/staticfiles/
/media/
/static/

# Logs
*.log

# IDE files
.idea/
.vscode/

# Docker
*.pid
docker-compose.override.yml

# Node.js
node_modules/
*.lock

# OS files
.DS_Store
Thumbs.db
desktop.ini
